{% extends 'main/base.html' %}

{% block active_home %}
<a href="{% url 'homepage' %}" class="nav-link" aria-current="page">Главная</a>
{% endblock %}

{% block active_about %}
<a href="{% url 'about-us' %}" class="nav-link">О нас</a>
{% endblock %}

{% block active_create %}
<a href="{% url 'create' %}" class="nav-link">Создать карточку</a>
{% endblock %}

{% block active_login %}
<a href="{% url 'login' %}" class="nav-link">{% if user.is_authenticated %} {{ user.username }} {% else %} Войти {% endif %}</a>
{% endblock %}

{% block active_profile %}
<a href="{% if user.is_superuser %}admin/{% elif user.is_authenticated %} {% url 'profile' user.username %} {% endif %}" class="nav-link">{{ user.username }}</a>
{% endblock %}

{% block search %}

{% if query != '' %}
<h2>Результаты поиска по запросу "{{ query }}"</h2>
{% endif %}

  {% if results %}
    <div class="row">
      {% for product in results %}
        <div class="col-md-4 mb-3">
          <div class="card h-100">
              {% if product.image %}
              <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
              {% else %}
              <img src="https://via.placeholder.com/300" class="card-img-top" alt="Фото товара">
              {% endif %}
              <div class="card-body">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">{{ product.category }}</p>
                  <p class="card-text"><strong>Адрес:</strong> {{ product.address }}</p>
                  <p class="card-text"><strong>Пользователь:</strong> {{ product.owner }}</p>
                  <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">Подробнее</a>
              </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>По вашему запросу ничего не найдено.</p>
  {% endif %}

{% endblock %}
