{% extends 'main/base.html' %}

{% block active_home %}
<a href="{% url 'homepage' %}" class="nav-link" aria-current="page">Главная</a>
{% endblock %}

{% block active_about %}
<a href="{% url 'about-us' %}" class="nav-link">О нас</a>
{% endblock %}

{% block active_create %}
<a href="{% url 'create' %}" class="nav-link">Создать карточку</a>
{% endblock %}

{% block active_login %}
<a href="{% url 'login' %}" class="nav-link">{% if user.is_authenticated %} {{ user.username }} {% else %} Войти {% endif %}</a>
{% endblock %}

{% block active_profile %}
<a href="{% if user.is_superuser %}admin/{% elif user.is_authenticated %} {% url 'profile' user.username %} {% endif %}" class="nav-link">{{ user.username }}</a>
{% endblock %}

{% block signup %}

<style>
    .signup {
        width: 1000px;
        margin: 0 auto;
    }
</style>


<div class="container mt-5">
    <div class="signup">
    <h2 class="text-center">Регистрация</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Подтвердить</button>
        </div>
    </form>

    <div class="text-center mt-3">
        <p>Уже имеете аккаунт? <a href="{% url 'login' %}">Войдите здесь</a>.</p>
    </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}
